@import url('https://fonts.googleapis.com/css2?family=Wix+Madefor+Display:wght@400;700&display=swap');

body {
    margin: 0;
    padding: 0;
}

a.black-link {
    color: black;
    text-decoration: none;
    font-family: 'Wix Madefor Display', sans-serif;
    font-weight: 400;
    font-size: 20px;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    place-items: center;
    grid-gap: 25px;
    padding-bottom: 25px;
}

main {
    padding: 16px;
}

h1.font {
    font-family: 'Wix Madefor Display', sans-serif;
    font-weight: 400;
    font-size: 45px;
}

h2.font {
    font-family: 'Wix Madefor Display', sans-serif;
    font-weight: 400;
    font-size: 30px;
}

div.font {
    font-family: 'Wix Madefor Display', sans-serif;
    font-size: 16px;
    padding-top: 5px;
}

footer {
    font-family: 'Wix Madefor Display', sans-serif;
    font-weight: 400;
    font-size: 20px;
    background-color: rgb(124, 145, 154);
    color: rgb(255, 250, 250);
    padding: 40px;
}

img {
    height: 200px;
    border-radius: 20%;
    padding-bottom: 5px;
}

nav {
    font-family: 'Wix Madefor Display', sans-serif;
    font-weight: 400;
    font-size: 20px;
    border-bottom: 1px solid black;
    padding: 20px;
    padding-left: 40px;
    background-color: rgb(247, 232, 211);
    color: rgb(54, 69, 79);
}

.centered {
    text-align: center;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(124, 145, 154);
    color: rgb(255, 250, 250);
    padding: 40px;
    text-align: center;
}

table {
    font-family: 'Wix Madefor Display', sans-serif;
    font-size: 16px;
    text-align: center;
}

table thead th {
    font-weight: bold;
}

table tbody tr:nth-child(even) {
    background-color: lightgray;
}

ol {
    font-family: 'Wix Madefor Display', sans-serif;
    font-size: 16px;
}